body {
  margin: 0;
}

#Arlington {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  height: 100%;
  box-sizing: border-box;
}

.VA a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.VA a.active {
  background-color: #04AA6D;
  color: white;
}

.VA a:hover:not(.active) {
  background-color: #555555;
  color: white;
}
