body {
    margin: 0px;
  }
  
  #sidebar {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 130px;
    background-color: hsl(0, 0%, 0%);
    position: fixed;
    top: 0;
    height: 100%;
    overflow: none;
    grid-area: sidebar;
    font-size: 18px;
  box-shadow: 15px 0px 20px #478c07;
  word-wrap:break-word;
  }

  #sidebar li a {
    display: block;
    color: #ecf0f1;
    padding: 8px 16px;
    text-decoration: none;
    border-left: 2px solid transparent;
  }
  
  #sidebar li a:focus {
    outline: 3px solid #478c07;
    outline-offset: -3px;
    border-left: 2px solid #478c07;
  }
  
  #sidebar li a.active {
    background-color: #478c07;
    color: #ffffff;
    border-left: 2px solid #478c07
  }
  
  #sidebar li a:hover:not(.active) {
    background-color: #478c07;
    color: #ffffff;
    border-left: 2px solid #478c07;
  }

  #sections {
    list-style: none;
    margin-left: 15px;
    border-left: 2px solid #478c07;
    padding: 0;
  }